.wrapper {
  margin: 1em 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-both {
  margin: 1em 0;
}

.mat-checkbox {
  margin-right: 1em;
}
